/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 990px;
}

.large-wrapper {
  width: 80%;
}

/****************************
Home Section
****************************/
// Featured products section
.product {
  width: 25%;
}

// Services Section
.services {
  .service {
    width: 16%;
  }
}
