/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 990px;
}

.large-wrapper {
  width: 80%;
}

/****************************
Home Section
****************************/

.product {
  width: 25%;
}
