/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 990px;
}

.large-wrapper {
  width: 80%;
}

/****************************
Home Section
****************************/
// Featured products section
.product {
  width: 25%;
}

// Services Section
.services {
  .service {
    width: 16%;
  }
}

/****************************
Internal Section
****************************/
// About pg
.page-template-page-internal {
  .flex {
    .left {
      width: 65%;
    }
    .right {
      width: 35%;
    }
  }

  .offer {
    width: 33.3%;
  }
}
